{% load static %}
<header style="min-width: 300px;" >
  <nav class="navbar navbar-light" style="background-color: #e0ffe0">
    <a class="navbar-brand" href="{% url 'posts:index' %}">
    <div class="container">
      Семейный врач <br> Иванов Иван Иванович
    </div>
  </a>
  <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href= "tel: 84951234567">8(495)123-45-67</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href= "mailto: chuvashevalena@gmail.com">email@somewhere.com</a>
      </li>
    </ul>      
  </nav>      
</header>
