{% load thumbnail %}

<ul>
  {% with request.resolver_match.view_name as view_name %}
  {% if view_name != 'posts:profile' %}
  <li>    
    {{ post.author }} 
  </li>
  {% endif %}
  <li>
    {{ post.pub_date|date:"d E Y H:m:s" }}
  </li>
  {% endwith %}
</ul>      
{% thumbnail post.image "960x339" crop="30%" upscale=True as im %}
  <img class="card-img my-2" src="{{ im.url }}">
{% endthumbnail %}      
<p>{{ post.text|truncatechars:1500 }}</p>
{% if view_name != 'posts:profile' and post.text|length >= 1500 %}
<a href="{% url 'posts:post_detail' post.pk %}">Читать отзыв полностью</a>
{% endif %}
